.container {
    background-color: #ed1b24;
    width: 300px;
    height: 200px;
}
.a {
    background-color: #f1f1f1;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 112px;
}